<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NYC Food Banks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/f8027915fa.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="hero has-background-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class ="column is-5-tablet is-4-desktop is-3-widescreen">
                        <div class="box">
                            <!--<h3 class="title is-3">NYC Food Banks</h3>-->
                            <p class="subtitle">
                                We search 500+ NYC food banks in all five boroughs to find the nearest one open for <strong>you</strong>.
                            </p>
                            <form action="POST">

                                <div class="field">
                                    <label for ="" class="label">Address</label>
                                    <div class="control has-icons-left">
                                        <input type="text" id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" class="input" required>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-location-arrow"></i>
                                        </span>
                                        <input type="hidden" class="field" name="street_number" id="street_number" disabled="true"/>
                                        <input type="hidden" class="field" name="route" id="route" disabled="true"/>
                                        <input type="hidden" class="field" name="locality" id="locality" disabled="true"/>
                                        <input type="hidden" class="field" name="administrative_area_level_1" id="administrative_area_level_1" disabled="true"/>
                                        <input type="hidden" class="field" name="postal_code" id="postal_code" disabled="true"/>
                                        <input type="hidden" class="field" name="country" id="country" disabled="true"/>                                        
                                    </div>
                                </div>

                                <div class="field">
                                    <label for ="" class="label">Day</label>
                                    <div class="control has-icons-left">
                                        <input type="date" name="date" id="date" placeholder="07/22/2020" class="input" required>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field">
                                    <label for ="" class="label">Time</label>
                                    <div class="control has-icons-left">
                                        <input type="time" name="time" id="time" placeholder="10:15 AM" class="input" required>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-clock"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <br>

                                <div class="field">
                                    <button class="button is-primary">
                                        Find food banks
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>